FASIT_ENVIRONMENT_NAME: q1
ISSO_ISSUER_URL: https://isso-q.adeo.no:443/isso/oauth2
BIDRAG_ARKIV_URL: https://bidrag-dokument-arkiv-q1.nais.preprod.local
BIDRAG_SAK_URL: https://bidrag-dokument-sak-q1.nais.preprod.local
JOURNALPOST_URL: https://bidrag-dokument-journalpost-q1.nais.preprod.local
SECURITY_TOKEN_URL: https://security-token-service-nais-preprod.local
PERSON_V3_URL: https://wasapp-q1.adeo.no
SRVBISYS_USERNAME: srvbisys
SRVBISYS_PASSWORD: bareForTest



####################################################################
# 
# Profiles: All
#							
####################################################################

server:
  servlet:
    context-path: /bidrag-dokument
management:
  endpoints:
    web:
      exposure:
        include: "*"

---

####################################################################
# 
# Profiles: live
#							
####################################################################

spring:
  profiles: live

# OIDC          
no.nav.security.oidc:
  issuers: isso
  issuer:
    isso:
      acceptedaudience: bisys-${FASIT_ENVIRONMENT_NAME}, bidrag-ui-master-${FASIT_ENVIRONMENT_NAME}, bidrag-dokument-ui-${FASIT_ENVIRONMENT_NAME}, bidrag-q-localhost
      discoveryurl: ${ISSO_ISSUER_URL}/.well-known/openid-configuration

---

####################################################################
# 
# Profiles: test, secure-test
#
# Use test token
#							
####################################################################

spring:
  profiles: test, secure-test

no.nav.security.oidc:
  issuers: isso
  issuer.isso:
    discoveryurl: http://metadata
    accepted_audience: aud-localhost
    cookie_name: localhost-idtoken

---